*
{
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}
#root
{
  width: 100vw;
  max-width: 100vw;
  height: auto;
  max-height: auto;
}
.card
{
  background-color: rgb(230,230,230);
  text-align: left;
  color: black;
  width: 90%;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  height: 30vh;
  max-height: 30vh;
}

#companyLogo
{
  height: inherit;
  max-height: inherit;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card #info
{
  margin: 2%;
}

.card #companyName
{
  margin: 5px 0px;
}

.card #deadline
{
  color: rgb(100,100,100);
}